@media (max-width: 575px) {
    .navbar{
        padding: 20px 0;
    }
    .about .left{
        width: auto;
    }
    .about .left p{
    margin-bottom: 40px;
    }
    .about .right{
        padding-left: 23px;
    }
    .about .right img{
        width: 90%;
        object-fit: cover;
    
    }

    .services p{
    width: 100%;
    padding-left: 30px;
    }
    .services .feat-box {
        width: 100%!important;
        
      }
      
      .clints p{
        width: 100%;
        padding-left: 30px;
        }

        .clints table img{
            width: 100%;
        }
        .clints{
            overflow: hidden;
        }
        .contact{
            text-align: center;
        }
        .contact .form-box p{
            width: 100%;
        }
        .footer .one {
            margin-bottom: 30px;
            text-align: center;
        }
        .footer .one ul{
            flex-wrap: wrap!important;
        }
        .footer .tow{
            margin-bottom: 30px;
        }
        .footer .tow h6{
            text-align: center;
        }
        .footer .tow ul li{
            font-size: 14px;
            text-align: center;
        }
        .footer .tow ul li i{
            margin-right: 0px!important;
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }


        .footer .three{
            text-align: right;
        }
        .footer .three a{
            margin-right: 1px;
        }
}

  @media (max-width: 767px) {
    .navbar{
        padding: 20px 0;   
    }
    .about .left p{
        margin-bottom: 40px;
        }
        .about .right{
            padding-left: 23px;
        }
        .about .right img{
            width: 90%;
            object-fit: cover;
        
        }
        .services p{
            width: 100%;
            padding-left: 30px;
            }
            .clints p{
                width: 100%;
                padding-left: 30px;
                }
                .clints table img{
                    width: 100%;
                }
                .footer .one {
                    margin-bottom: 30px;
                    text-align: center;
                }
                .footer .one ul{
                    flex-wrap: inherit;
                }
                .footer .tow{
                    margin-bottom: 30px;
                }
                .footer .tow h6{
                    text-align: center;
                }
                .footer .tow ul li{
                    font-size: 14px;
                }
                .footer .tow ul li i{
                    margin-right: 5px!important;
                }
        
        
                .footer .three{
                    text-align: right;
                }
  }
  @media (max-width: 991px) {
    .navbar{
        padding: 20px 0;
    }
    .about .left p{
        margin-bottom: 40px;
        }
        .about .right{
            padding-left: 23px;
        }
        .about .right img{
            width: 90%;
            object-fit: cover;
        
        }
        .services p{
            width: 100%;
            padding-left: 30px;
            }
            .services .feat-box {
                width: calc(100% / 2);
              }
              .clints p{
                width: 100%;
                padding-left: 30px;
                }
                .clints table img{
                    width: 80%;
                }
        

}



